@using ICS.Utilities
<!DOCTYPE HTML>
<html>
<head>
    <title>International Consulting & Solutions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @if (CurrentLanguage.Language == 1)
    {
        <meta http-equiv="content-language" content="tr">
    }    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet'>
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet"/>

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- start top_js_button -->
    <script src="~/Content/js/move-top.js"></script>
    <script src="~/Content/js/easing.js"></script>
</head>
<body>

    @Html.Action("_HeaderPartial", "Partial")

    @RenderBody()

    @Html.Action("_FooterPartial", "Partial")

    <script src="~/Content/js/mysitescripts.js"></script>

</body>
</html>
