<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/Content/js/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/js/index.js"></script>
</head>
<body>
    
    @RenderBody();
    
</body>
</html>
